@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
   background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: auto;
    justify-content: center;
}

.container{
    align-self: center;
    max-width: 1280px;
    margin: 20px ;
    padding: 5% 5%;
}
form {
    background-color: white;
    max-width: 100%;
    height: 800px;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    overflow-y: auto;
}
::-webkit-scrollbar{
    color: white
}

form h1{
    text-align: center;
    font-size: 24px;
    color:#8b0000;
}

form p{
    text-align: left;
    margin: 20px 0px;
    font-size: large;
    padding: 0px;
}
form div{
    color: black;
}

.input-single{
    position: relative;
    margin: 15px 0px;
}

.input-single label{
    position: absolute;
    left: 0px;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}

.input{
    width: 100%;
    border: 0;
    border-bottom:1px solid black;
    padding: 5px;
    font-size: 15px;
    outline: 0;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color:gray
}
.date{
    position: relative;
    top: 10px;
    margin: 10px 0px;
    size: 50%;
    text-align: letf;
}

.date label{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 5px;
    cursor: text;
}

.resumo{
    position: relative;
    top: 10px;
    height: 150px;
    margin: 10px 0px;
    text-align: left;
}

.resumo textarea{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    padding: 5px 5px;
    border-radius: 5px;
}

.radio{ 
    text-align: left;
    padding-bottom: 30px;
}

.btn{
    width: 100%;
    text-align: center;
    padding: 15px;    
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 5px;
    background-color: #8b0000;
    color: white;  
}

